[package]
name = "reqwest-jni"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
jni = "0.20.0"
reqwest = {version = "0.11.14", features = ["rustls-tls", "stream", "brotli", "gzip"], default-features = false}
tokio = {version = "1.24.2", features = ["full"]}
once_cell = "1.17.1"

[lib]
crate-type = ["cdylib"]
